@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import "tailwindcss";

body { 
    font-family: "Sora", sans-serif;
}

:root {
  --primary: #179800;
  --primary-hover: #137e00;
}
